# Default Apache virtualhost template

# httpd.confはそのままにしておく
# (共有ディレクトリのマウントが遅いので、httpd.confに書くとapache起動時にerrorになる可能性がある)

<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot {{ doc_root }}
    ServerName {{ servername }}
    ErrorLog logs/{{ servername }}-error_log
    CustomLog logs/{{ servername }}-access_log common
    <Directory {{ doc_root }}>
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
