# Default Apache virtualhost template

# httpd.confはそのままにしておく
# (共有ディレクトリのマウントが遅いので、httpd.confに書くとapache起動時にerrorになる可能性がある)

<VirtualHost *:80>
    ServerAdmin webmaster@{{ servername }}
    DocumentRoot {{ doc_root }}
    ServerName {{ servername }}
    ErrorLog logs/{{ servername }}-error_log
    CustomLog logs/{{ servername }}-access_log common
    LogLevel warn
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common
    <Directory {{ doc_root }}>
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>

# https接続用設定
<VirtualHost *:443>
    ServerAdmin webmaster@{{ servername }}
    DocumentRoot {{ doc_root }}
    ServerName {{ servername }}
    ErrorLog logs/{{ servername }}-error_log
    CustomLog logs/{{ servername }}-access_log common
    LogLevel warn
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common

    SSLEngine on

    SSLProtocol all -SSLv2

    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5

    SSLCertificateFile /etc/httpd/conf/server.crt

    SSLCertificateKeyFile /etc/httpd/conf/server.key

    SSLCertificateChainFile /etc/httpd/conf/server.csr

    SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire

    <Directory {{ doc_root }}>
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
